h3 {
    color: #284997
}
body {
    background-color: #b5c8f5;
}
.Lineadiv {
    color: #284997
}
.head1 {
    display: flex;
    align-items: center;
    justify-content: center
}
.headinfo {
    color: #284997
}
.iconotelefono {
    color: #284997
    }
h4 {
        color: #284997
    }